@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
body {
  font-family: "Maven Pro", sans-serif;
  background-color: #f12369;
}
hr {
  color: #0000004f;
  margin-top: 1px;
  margin-bottom: 0px;
}
.add td {
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 12px;
}

.content {
  font-size: 11px;
  line-height: 3px;
}
.content .name {
  font-weight: bold;
}
.d-flex .row img {
  width: 100px;
  margin: 3px 0px 0px 150px;
}
.invoice {
  margin: 40px 0px 0px 10px;
  line-height: 5px;
}
.date {
  font-size: 10px;
  /* margin-right: 40px; */
  position: absolute;
  margin: 80px 0px 0px 0px;
}

.table {
  height: auto;
}
.table-responsive {
  margin-left: 5px;
}
.fees-detail {
  margin-left: 8px;
  line-height: 10px;
}
.rem-fees {
  font-weight: bold;
  font-size: 11px;
  line-height: 8px;
}
.remianing-fees {
  margin-left: 10px;
  margin-right: 10px;
}
